In [6]:
import pandas as pd
import math #important library , calculate log
import string

In [2]:
# Sample collection of documents
documents = [
    "Scientists have discovered a new species of marine life in the deep ocean.",
    "NASA's Mars rover is searching for signs of ancient life on the Red Planet.",
    "The stock market experienced a significant drop in trading today.",
    "Astronomers have identified a distant galaxy with unusual star formations.",
    "The government announced new measures to combat climate change."
]

In [3]:
# Create a dictionary for lemmatization (a simple example, not comprehensive)
lemmatization_dict = {
    "species": "specie",
    "species": "species",
    "oceans": "ocean",
    "ocean's": "ocean",
    "rover": "rover",
    "discovered":"discover",
    "experienced":"experience",
    "rovers": "rover",
    "trading": "trade",
    "identified": "identify",
    "identifies": "identify",
    "formations": "formation",
    "governments": "government",
    "measures": "measure"
}

In [57]:
# terms = [lemmatization_dict.get(term, term) for term in terms]
# terms

In [7]:
# Tokenize documents into words (terms), remove punctuation, and lemmatize
def preprocess_text(document):
    terms = document.lower().split()
    terms = [term.strip(string.punctuation) for term in terms]
    terms = [lemmatization_dict.get(term, term) for term in terms]
    return terms

In [9]:
# Create a set of unique terms (vocabulary)
vocabulary = set()
# you code here ...

vocabulary

{'a',
 'ancient',
 'announced',
 'astronomers',
 'change',
 'climate',
 'combat',
 'deep',
 'discover',
 'distant',
 'drop',
 'experience',
 'for',
 'formation',
 'galaxy',
 'government',
 'have',
 'identify',
 'in',
 'is',
 'life',
 'marine',
 'market',
 'mars',
 'measure',
 "nasa's",
 'new',
 'ocean',
 'of',
 'on',
 'planet',
 'red',
 'rover',
 'scientists',
 'searching',
 'significant',
 'signs',
 'species',
 'star',
 'stock',
 'the',
 'to',
 'today',
 'trade',
 'unusual',
 'with'}

In [10]:
# Create a dictionary to store the term frequency (TF) for each term in each document
tf_values = {term: [0] * len(documents) for term in vocabulary}

In [11]:
# Calculate Term Frequency (TF)
for i, document in enumerate(documents):
    # your code here ....

tf_values

In [12]:
# Calculate Inverse Document Frequency (IDF)
idf_values = {}
total_documents = len(documents)
for term in vocabulary:
    # your code here ...

In [13]:
# Calculate TF-IDF values
tfidf_values = []
for i, document in enumerate(documents):
    terms = preprocess_text(document)
    tfidf_document = []
    for term in vocabulary:
        tf = tf_values[term][i]
        idf = idf_values[term]
        tfidf = tf * idf
        tfidf_document.append(tfidf)
    tfidf_values.append(tfidf_document)
tfidf_values

In [15]:
# Convert TF-IDF values to a DataFrame
df_tfidf = pd.DataFrame(tfidf_values, columns=list(vocabulary))

# Display TF-IDF results
print("TF-IDF:")
print(df_tfidf)

TF-IDF:
         of       for   climate        on         a        to  significant  \
0  0.510826  0.000000  0.000000  0.000000  0.223144  0.000000     0.000000
1  0.510826  0.916291  0.000000  0.916291  0.000000  0.000000     0.000000
2  0.000000  0.000000  0.000000  0.000000  0.223144  0.000000     0.916291
3  0.000000  0.000000  0.000000  0.000000  0.223144  0.000000     0.000000
4  0.000000  0.000000  0.916291  0.000000  0.000000  0.916291     0.000000

       drop      star  scientists  ...      life     rover    nasa's  \
0  0.000000  0.000000    0.916291  ...  0.510826  0.000000  0.000000
1  0.000000  0.000000    0.000000  ...  0.510826  0.916291  0.916291
2  0.916291  0.000000    0.000000  ...  0.000000  0.000000  0.000000
3  0.000000  0.916291    0.000000  ...  0.000000  0.000000  0.000000
4  0.000000  0.000000    0.000000  ...  0.000000  0.000000  0.000000

       mars  discover    combat     trade    market    marine  searching
0  0.000000  0.916291  0.000000  0.000000  0.000000  0.916291   0.000000
1  0.916291  0.000000  0.000000  0.000000  0.000000  0.000000   0.916291
2  0.000000  0.000000  0.000000  0.916291  0.916291  0.000000   0.000000
3  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000   0.000000
4  0.000000  0.000000  0.916291  0.000000  0.000000  0.000000   0.000000

[5 rows x 46 columns]

In [46]:
# Save TF-IDF results to a CSV file (optional)
# df_tfidf.to_csv("tfidf_custom_preprocessed_news.csv", index=False)

# Using Libraries for Lemmatization and Tf-Idf

In [19]:
# if your machine doesn't have these libraries, you need to install them
import pandas as pd
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords

# download the punkt
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/nattkorat/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [20]:

# Initialize NLTK's lemmatizer and download stopwords
nltk.download('wordnet')
nltk.download('stopwords')
# Initialize NLTK's lemmatizer
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
lemmatizer = WordNetLemmatizer()
ps = PorterStemmer()

# Tokenize documents into words (terms), remove punctuation, lemmatize, and remove stopwords
def preprocess_text(document):
    terms = nltk.word_tokenize(document)
    terms = [term.strip(string.punctuation) for term in terms]
    terms = [ps.stem(term) for term in terms]
    terms = [term.lower() for term in terms if term not in stopwords.words('english')]
    return ' '.join(terms)

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/nattkorat/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/nattkorat/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/nattkorat/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [21]:
# Preprocess the text in the documents
preprocessed_documents = # your code here ...

# Create a TfidfVectorizer instance
vectorizer = TfidfVectorizer()

In [24]:
# Fit and transform the preprocessed documents to compute TF-IDF values CADT@0zJanZ!
tfidf_matrix = vectorizer.fit_transform(preprocessed_documents)

# Convert the TF-IDF matrix to a DataFrame
df_tfidf = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())

In [25]:
# Display TF-IDF results
print("TF-IDF:")
print(df_tfidf)

TF-IDF:
    ancient   announc  astronom     chang    climat    combat     deep  \
0  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.37007
1  0.339992  0.000000  0.000000  0.000000  0.000000  0.000000  0.00000
2  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.00000
3  0.000000  0.000000  0.377964  0.000000  0.000000  0.000000  0.00000
4  0.000000  0.387757  0.000000  0.387757  0.387757  0.387757  0.00000

    discov   distant      drop  ...  scientist    search      sign  signific  \
0  0.37007  0.000000  0.000000  ...    0.37007  0.000000  0.000000  0.000000
1  0.00000  0.000000  0.000000  ...    0.00000  0.339992  0.339992  0.000000
2  0.00000  0.000000  0.377964  ...    0.00000  0.000000  0.000000  0.377964
3  0.00000  0.377964  0.000000  ...    0.00000  0.000000  0.000000  0.000000
4  0.00000  0.000000  0.000000  ...    0.00000  0.000000  0.000000  0.000000

     speci      star     stock     today     trade     unusu
0  0.37007  0.000000  0.000000  0.000000  0.000000  0.000000
1  0.00000  0.000000  0.000000  0.000000  0.000000  0.000000
2  0.00000  0.000000  0.377964  0.377964  0.377964  0.000000
3  0.00000  0.377964  0.000000  0.000000  0.000000  0.377964
4  0.00000  0.000000  0.000000  0.000000  0.000000  0.000000

[5 rows x 36 columns]